.app-container {
  padding: 20px;

  background-size: cover;
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
}
.profile-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 10px;
}
hr {
  width: 100%;
}
